# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.env.*

# Alembic
alembic/versions/*.pyc
alembic/__pycache__/

# Editor folders
.idea/

# OS files
.DS_Store

# Database (optional)
*.sqlite3

# Log files
*.log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
